@charset "utf-8";

.radio:checked + label {
  border: 4px solid #4199E1;
}

.check_box:checked + .label-blue {
  background-color: #4199E1;
  color: white;
}

html {
  font-size: 15px;
}

.last-border-none > *:last-child {
  border: none;
}

.public {
  .pagination-current {
    background-color: #D5D8DC;
  }
}

.dashboard {
  .pagination-current {
    background-color: #D6EAF8;
  }
}

.public {
  .dropdown_toggle {
    position: fixed;
    top: 13px;
    right: 13px;
    width: 45px;
    height: 45px;
    background-color: #1A202C;
    border-radius: 23px;
    cursor: pointer;
  }

  .dropdown_toggle .dropdown_toggle_bar, .dropdown_toggle::before, .dropdown_toggle::after {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-property: all;
    display: block;
    position: absolute;
    top: 21px;
    left: 11px;
    width: 23px;
    height: 3px;
    background-color: #fff;
  }

  .dropdown_toggle::before {
    transform: translate(0, 9px);
    content: '';
  }

  .dropdown_toggle::after {
    transform: translate(0, -9px);
    content: "";
  }

  .dropdown_toggle.is-active .dropdown_toggle_bar {
    opacity: 0;
  }

  .dropdown_toggle.is-active::before {
    transform: rotate(-45deg);
  }

  .dropdown_toggle.is-active::after {
    transform: rotate(45deg);
  }

}

.post-content {
  h2 {
    margin: 50px 0 15px;
    font-size: 32px;
    padding: 5px 0;
    border-bottom: 2px solid #181818;
  }

  h3 {
    margin: 50px 0 20px;
    padding: 13px 28px 12px;
    font-size: 21px;
    font-weight: 700;
    background: #f3f3f3;
    border-radius: 10px;
  }

  h4 {
    margin: 30px 0 20px;
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 1px solid #181818;
  }

  p {
    margin: 0 0 20px;
  }

  ol, ul {
    margin: 20px 0 36px;
    padding: 0 0 0 23px;
    line-height: 1.6;
    letter-spacing: .05rem;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  li {
    line-height: 2rem;
  }

  a {
    display: block;
    text-decoration: underline;
    word-break: break-all;
    word-wrap: break-word;
    color: #2B6CAF;
    margin: 33px 0;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 2;
    letter-spacing: .05rem;
    background: #f8f8f8;
    border: 1px solid #ddd;
  }

  blockquote {
    word-wrap: break-word;
    color: #4A4A4A;
    margin: 33px 0;
    padding: 15px 20px;
    font-size: 14px;
    background: #f8f8f8;
    border: 1px solid #ddd;
  }

  table {
    width: 100%;
    margin: 30px 0;
    font-size: 15px;
    line-height: 1.7;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      border-top: 1px solid #e1e1e1;
      min-height: 1px;
    }

    th, td {
      padding: 25px;
      border-left: 1px solid #e1e1e1;
      &:first-child {
         border-left-width: 0;
      }
    }
  }
}
