// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

.check_box:checked + .label-blue {
  background-color: #4199E1;
  color: white;
}

html {
  font-size: 15px;
}