// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

.check_box:checked + .label-blue {
  background-color: #4199E1;
  color: white;
}

html {
  font-size: 15px;
}

.header_nav_toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  background-color: #000;
  border-radius: 23px;
  cursor: pointer; }
  .header_nav_toggle .header_nav_toggle_bar, .header_nav_toggle::before, .header_nav_toggle::after {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-property: all;
    display: block;
    position: absolute;
    top: 21px;
    left: 11px;
    width: 23px;
    height: 3px;
    background-color: #fff; }
  .header_nav_toggle::before {
    transform: translate(0, 9px);
    content: ""; }
  .header_nav_toggle::after {
    transform: translate(0, -9px);
    content: ""; }
  .header_nav_toggle.is-active .header_nav_toggle_bar {
    opacity: 0; }
  .header_nav_toggle.is-active::before {
    transform: rotate(-45deg); }
  .header_nav_toggle.is-active::after {
    transform: rotate(45deg); }