.l-form
  width: 40%
  margin: 0 auto
  +mediaquery-tablet
    width: 60%
  +mediaquery-smartphone
    width: 100%

  h1
    text-align: center

  .status
    margin-top: 10px

  .form
    margin-top: 10px
